<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babashivabramhiji</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/scrollToTop.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicondiet/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicondiet/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicondiet/favicon-16x16.png">
</head>
<style>
    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
    nav .right ul li a {
        transition: color 0.5s ease, transform 0.5s ease;
    }
    nav .right ul li a:hover {
        color: #50C878;
        transform: scale(1.1);
        text-decoration: none;
    }
    .bounce {
        animation: bounce 2s infinite;
    }
</style>

<body>
    <div class="main">
        <nav class="flex items-center justify-between px-6 py-3 border-b-2">
            <div class="left">
                <a href="/"><img class="h-[75px] object-cover" src="/images/baba shivbramhiji.png" alt=""></a>
            </div>
            <div class="right">
                <ul class="flex gap-6 items-center  ">
                    <li class="text-[#16436A] font-bold"><a href="/">Home</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/">About</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/gallery">Gallery</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/">Contact</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/login">Login</a></li>
                    <h4><i id="menu-btn" class="ri-menu-line"></i></h4>
                </ul>
            </div>
        </nav>
        <div id="slidebar">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/gallery">Gallery</a>
            <a href="/">Contact</a>
            <a href="/login">Login</a>
        </div>
        <div class="gallery-content">
            <h1 class="text-[#50C878]">Gallery</h1>
            <div class="hotel-1">  
                <div class="hotel-1-images mt-8 flex flex-wrap justify-center items-center gap-4">
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/a3/b6/ea/a3b6eae7425652a4838dad6c21fa5513.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/7a/e7/56/7ae756fcbc4d98dd35cedf2a7f0ec9aa.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/2e/3e/f3/2e3ef3b16cb7a8a215ec86dc692890e0.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/c4/17/a7/c417a7337f975ac3164fef38f5b55fc0.jpg" alt="Room 1 Image 1">
                    </div>
                    <!-- <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="/images/WhatsApp Image 2024-04-08 at 9.52.48 PM.jpeg" alt="Room 1 Image 1">
                    </div> -->
                    <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/4e/a3/e5/4ea3e5a6dc521c3e4eb0a5f65a322908.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/8a/7d/4d/8a7d4db3cc8c36f70d3d22a63c8af473.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/f2/5a/f6/f25af6116386351390f95274576bbc42.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class=" overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/c4/73/61/c473615ada7fdea983546f41193fd50a.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/e9/2f/79/e92f79a27bdd257a5b98eb40b431d8ec.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/e0/5b/fb/e05bfba6c602d82b6500b5b2cef29cab.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/d5/c4/e4/d5c4e4125cb26e4a55fac44a38de1d3c.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/236x/f6/97/03/f697036526d9e2327b3a05734f0f0c92.jpg" alt="Room 1 Image 1">
                    </div>
                    <div class="overflow-hidden relative w-88 h-75">
                        <img class="w-[350px] h-[300px] object-cover transform transition-transform duration-300 hover:scale-110"
                            src="https://i.pinimg.com/564x/3b/51/54/3b51547f80b985020cb30a64a36a893c.jpg" alt="Room 1 Image 1">
                    </div>

                </div>
            </div>
          

        </div>
        <div id="scroll-to-top" class="bounce" onclick="scrollToTop()">
            <span>&#8593;</span>
        </div>
    </div>

    <!-- Sidebar JS -->
    <script src="/javascripts/sidebar.js"></script>
    <!-- Scroll to top JS -->
    <script src="/javascripts/scrollToTop.js"></script>
</body>

</html>